# Byte-compiled / optimized / DLL files
pycache/
*.py[cod]
*.so

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual environment
venv/
env/

# IDE settings
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Large or temporary files
*.gguf
*.pkl
*.parquet
*.log
*.zip
*.tar.gz

# AWS credentials
.aws/